---
layout: layout
title: "Phollow.me"
---

<div class="container">
    {% for post in paginator.posts %}
        <article>
            <time datetime="{{ post.date }}">{{ post.date | date: "%b %e, %Y" }}</time>
            <h2 class="entry-title">
                <a title="{{ post.title }}" href="{{ post.url }}/">{{ post.title }}</a>
            </h2>
        <p>{{ post.content | strip_html | truncate: 250 }}</p>
        <p>
            <a title="{{ post.title }}" href="{{ post.url }}/">Read post</a>
        </p>
        </article>
    {% endfor %}
    
    <p class="archives">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="next" href="/" title="Recent posts">Recent&nbsp;posts&nbsp;&raquo;</a>
          {% else %}
          <a class="next" href="/page/{{ paginator.previous_page }}/" title="Recent posts">Recent&nbsp;posts&nbsp;&raquo;</a>
          {% endif %}
        {% endif %}
    
        {% if paginator.next_page %} 
        <a class="prev" href="/page/{{ paginator.next_page }}/" title="Older posts">&laquo;&nbsp;Older&nbsp;posts</a>
        {% endif %}
    </p>
</div>