---
layout: layout
title: "Phollow.me"
---

<section id="claim-home" class="one-third column">
  <h1>Hacking stuff <br><em>since</em> 1986.</h1>
  <article>
    <p>Web <em>&amp;</em> iPhone developer with a soft spot for good typography and responsive design. Stay in touch.</p>
    <p>
      <a href="https://twitter.com/phollow" class="ss-icon ss-social ss-twitter twitter-button"></a>
      <a href="https://www.facebook.com/Phollow.fr" class="ss-icon ss-social ss-facebook twitter-button"></a>
      <a href="https://github.com/Rydgel" class="ss-icon ss-social ss-octocat twitter-button"></a>
      <a href="http://dribbble.com/phollow" class="ss-icon ss-social ss-dribbble twitter-button"></a>
    </p>
  </article>
</section>

<div id="container-home-1" class="one-third column">
{% for post in site.posts limit: 3 %}
  <article class="post">
      <header>
        <h2 class="entry-title"><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
    <p>{{ post.content | strip_html | truncate: 170 }}</p>
    </article>
    {% unless forloop.last %}
      <hr>
    {% endunless %}
{% endfor %}
</div>

<div id="container-home-2" class="one-third column">
{% for post in site.posts limit: 3 offset: 3 %}
  <article class="post">
        <header>
        <h2 class="entry-title"><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h2>
        </header> 
    <p>{{ post.content | strip_html | truncate: 170 }}</p>

    </article>
    {% unless forloop.last %}
      <hr>
    {% endunless %}
{% endfor %}
</div>
