---
layout: layout
---

<section id="claim" class="sixteen columns">
  <h2 class="pagetitle">{{ page.title }}</h2>
  <hr>
</section>
<div id="container" class="sixteen columns">
 <ul class="archives-list">
    {% for post in site.categories[page.category] %}
    <li>
      <time class="archives-date three columns">
        {{ post.date | date: "%B %e, %Y" }}
      </time>
      <section class="archives-perma seven columns">
        <a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
      </section>
      <section class="archives-comments three columns">
        <a href="{{ post.url }}#comments">Comments</a>
      </section>
      <section class="archives-permalink three columns">
        <a href="{{ post.url }}">Link</a>
      </section>
      <div class="clearfix"></div>
    </li>
    {% endfor %}
 </ul>
</div>
