<!doctype html>
<html class="no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Article" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head profile="http://purl.org/uF/hAtom/0.1/ http://purl.org/uF/2008/03/" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# phollow: http://ogp.me/ns/fb/phollow#">
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://plus.google.com/116513653525162928064" rel="publisher">
  <meta name="title" content="{{ page.title }}">
  <meta name="author" content="Jérôme Mahuet">
  <meta name="Copyright" content="Copyright Jérôme Mahuet 2013. All Rights Reserved.">
  <meta name="google-site-verification" content="b3k5NRe5t9U-Pk1_CK_g5oN0U12YXuc55rUQWCHgbZY">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@phollow">
  <meta name="twitter:creator" content="@phollow">
  {% if page.url == '/index.html' %}
  <meta property="og:url" value="http://phollow.fr">
  <meta property="og:description" value="Blog from a web &amp; iPhone developer with a soft spot for good typography and responsive design.">
  {% else %}
  <meta property="og:url" value="{{ site.url }}{{ page.url }}/">
  <meta property="og:description" value="{{ page.content | strip_html | strip_newlines | truncate: 240 }}">
  {% endif %}
  <meta property="og:image" value="{% if page.ogp_image %}{{ page.ogp_image }}{% else %}http://phollow.fr/images/phollow-logo3.png{% endif %}">
  <meta property="og:type" content="phollow:post">
  <meta property="og:site_name" content="Phollow.me">
  <meta property="fb:admins" content="rydgel">
  <meta property="fb:app_id" content="101739241646">
  <meta itemprop="name" content="{{ page.title }}">
  <meta property="og:title" value="{{ page.title }}">


  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/atom.xml">
  <link rel="stylesheet" href="/css/screen.css?v=113">
  <!--[if lt IE 9]>
  <script src="/js/compiled/modernizr.min.js"></script>
  <![endif]-->
</head>
<body>

<header role="post">
    <div class="container">
        <h1 id="logo">
          <a href="/" title="Phollow.me">
            <img src="/images/phollow-logo3.png" alt="Phollow.me">
          </a>
        </h1>
    </div>
</header>

<section role="articles">
    {{ content }}
</section>

<footer>
    <div class="container">
        <p><a href="http://jrm.li" target="_blank">Jérôme Mahuet</a> - Hosted by <a href="http://heroku.com">Heroku</a> &amp; <a href="https://github.com/Rydgel/phollow">open-source</a>.</p>
    </div>
</footer>
</body>
</html>

